body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 45%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* Центрируем содержимое */
}

.product img {
    max-width: 100%;
    margin-bottom: 10px; /* Добавляем отступ снизу изображения */
}

.product h3 {
    margin-top: 0; /* Удаляем верхний отступ для заголовка */
}

.product p {
    margin-bottom: 10px; /* Добавляем нижний отступ для цены */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
header {
    background-image: url('logo.jpg');
    background-size: cover; /* Растягиваем изображение на всю область */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
}

header h1{
  font-style: italic;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.contact-info,
.why-choose-us,
.technical-support {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    color: #333;
}

iframe {
    width: 100%;
}

#checkout-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #0056b3;
}


.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.cart-item span {
    font-size: 16px;
}

.cart-item:last-child {
    border-bottom: none;
}
